<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @Html.ActionLink("Tip4Trip", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li> @Html.ActionLink("Houses", "Index", "Houses")</li>
                        <li>

                            @Html.ActionLink("Reservations", "Index", "Reservations")
                        </li>

                        if (User.IsInRole("Admin"))
                        {
                            <li>
                                @Html.ActionLink("Roles", "Index", "Role")
                            </li>

                            <li>
                                @Html.ActionLink("Locations", "Index", "Locations")
                            </li>

                            <li>
                                @Html.ActionLink("mazi", "mazi", "Houses", new { idilicious = 2 }, null)
                            </li>
                        }
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Our ASP.NET Application Tip4Trip</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
